/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos de la sección de músicos */
.contMusicos {
  width: 100%;
}

/* Estilos del menú desplegable */
.drop1-musicos {
  position: relative;
}

.drop1-musicos:hover .drop-menu2-musicos {
  display: block;
}

.drop-menu2-musicos {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(208, 206, 206, 0.71);
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.drop-menu2-musicos li {
  margin-bottom: 8px;
}

.drop-menu2-musicos li a {
  text-decoration: none;
  color: #333;
}

.drop-menu2-musicos li a:hover {
  text-decoration: underline;
  color: #6b030a;
}

/* Estilos de la barra de navegación */
.nav-seccion-musicos {
  background-color: #333;
  padding: 10px;
}

.nav-seccion-musicos nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-seccion-musicos nav .logo-musicos {
  margin-right: 20px;
}

.nav-seccion-musicos nav ul {
  display: flex;
  list-style-type: none;
}

.nav-seccion-musicos nav ul li {
  margin-right: 15px;
}

.nav-seccion-musicos nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-seccion-musicos nav ul li a:hover {
  background-color: #555;
}

/* Estilos de la sección de videos */
.video-section-musicos {
  background-color: rgb(97, 60, 232);
}

.video-section iframe {
  margin-top: 10px;
  margin-left: 190px;
}

/* Estilos de la sección de imágenes */
.imagen-musicos {
  width: 100%;
  height: 600px;
}

.drop1-musicos {
  position: relative;
  width: 100%;
  height: 100%;
}

.drop1-musicos h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos de los párrafos */
.paragraphs-musicos {
  background-color: #fff;
  margin-bottom: 10px;
  margin: 20px;
}

.paragraphs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
  flex-wrap: wrap; /* Añadido */
}

.paragraph {
  flex-basis: 45%;
  text-align: center;
  margin: 40px;
  flex-grow: 1; /* Añadido */
  flex-shrink: 1; /* Añadido */
}

/* Estilos de las tarjetas de músicos */
.tarjetas-musicos {
  background-color: #1e2f46;
  margin-top: 10px;
  width: auto;
  height: 600px;
  flex-wrap: wrap;
  display: flex; /* Añadido */
  justify-content: space-between; /* Añadido */
  padding: 0 20px; /* Ajuste de padding */
  box-sizing: border-box; /* Ajuste de box-sizing */
}

.tarjetas {
  width: 100%;
  display: flex; /* Añadido */
  flex-wrap: wrap; /* Añadido */
  justify-content: space-between; /* Añadido */
  margin: 10px;
  height: auto; /* Cambiado de 550px a auto */
}

.tarj {
  margin-top: 30px;
  width: calc(25% - 20px);
  background-color: #e0e0e1;
  border: 1px solid #1c1515;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.tarj:hover {
  transform: scale(1.05);
}

.tarj img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarj-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tarj:hover .tarj-cont {
  opacity: 1;
}

.tarj-cont h3 {
  margin: 0;
  font-size: 18px;
  color: #eddbdc;
  text-align: center;
}

/* Estilos del footer */
.footer-musica {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(55, 59, 59);
  padding: 20px;
}

.musica-logo img {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.musica-links {
  display: flex;
  justify-content: center;
}

.musica-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.buscar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.musica-social a {
  margin-right: 10px;
}

.musica-social img {
  width: 40px;
  height: auto;
  border-right: 2px solid rgb(0, 0, 0);
  padding-right: 5px;
}

.musica-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.musica-info a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Media queries para hacer responsive */
@media screen and (max-width: 768px) {
  .musica-links {
      display: flex;
      flex-direction: column;
      text-align: justify;
      flex-wrap: wrap;
  }

  .vertical-line {
      gap: 10px;
  }

  .musica-social {
      margin: 30px;
  }

  .musica-info {
      display: flex;
      flex-direction: column;
      text-align: justify;
      flex-wrap: wrap;
  }

  .tarjetas-musicos .tarjetas .tarj {
      flex-wrap: wrap;
      width: calc(50% - 20px);
  }
}