* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footerPrincipal {
  background-color: #6e6858;
  color: #fff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: #ffffff;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}



.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #6B030A;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #2a2a2a;
  border-radius: 21px;
  color: #fffff2;
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}




.footer-social-links .share-button a {
  text-decoration: none;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 45px;
  width: 250px;

  position: absolute;
  margin-left: 36%;
  top: 70%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 50%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;

}

.share-button__back {
  background-color: #2a2a2a25;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 50%;
  background-color: #2a2a2a;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  transform-style: preserve-3d;

}



.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  margin-left: 2px;
  margin-right: 25px;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}






.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-copyright {
  background-color: #2a2a2a;
  color: #fff;

  text-align: center;
  height: 60px;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}




.copyrightSection a {
  font-size: 15px;

}

.copyrightSection {
  font-size: 15px;

}

@media (min-width:320px) and (max-width:479px) {


  .footer-content {
    margin-left:auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }

  .share-button__front {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 20px;
    position: relative;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-style: preserve-3d;

  }
  .share-button__back {
    background-color: #2a2a2a25;
    padding:10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
  }
  .share-button__back img{
    width: 15px;
  }
}

@media (min-width:480px) and (max-width:599px) {


  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }

  .share-button__front {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-style: preserve-3d;

  }
  
}

@media (min-width:600px) and (max-width: 800px) {


  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }

  .share-button__front {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-style: preserve-3d;

  }
}

@media (min-width:801px) {


  .share-button__front {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-style: preserve-3d;

  }
}

@media (min-width:1025px) {


  .share-button__front {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-style: preserve-3d;

  }
}

@media (min-width:1281px) {


  .share-button__front {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-style: preserve-3d;

  }

}




@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-social-links {
    width: 100%;
    padding: 0;
  }

  .share-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;

    padding: 10px 20px;

    text-align: center;

  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }

  .share-button__front {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-style: preserve-3d;

  }
  
}

@media (max-width: 568px) {

 .footer-content-column {
      width: 49.99%;
  } 
  .botonRedesSociales {
    margin-left: -40px;

  }
  .share-button{
    width: 130%;
  }

 .botonRedesSociales .share-button .share-button__back {
    height: 70px;
    width: 130%;

  }

  .share-button__front {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center top;
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    transform-style: preserve-3d;

  }

  .share-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;

    padding: 10px 20px;

    text-align: center;

  }


}