.fotoMujeres {
  margin-top: -0px;
  height: 80vh;
  background: url('C:\Users\agosn\CitaFinal\cita\public\img\imagenes\flores.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.fotoMujeres .versiculo {
  color: white;
  font-size: 20px;

}

.parallaxMujeres {
  padding: 20% 0;
  width: 80%;
  display: flex;
}

.parallaxMujeres h1 {
  font-size: 60px;
  color: #ffffff;
  text-align: end;
  font-weight: 500;
  letter-spacing: 3px;
}

.cardsInfo {
  width: 50%;


  background-color: #857F74;
  display: flex;
  justify-content: center;
}

.CardWomen .cardsInfo .fondoCard {
  margin: auto;

  width: 70%;
  height: 30%;
  display: flex;
  justify-content: center;

  align-items: center;

}

.discipuladosMuj {
  margin-top: 30px;
}

.CardWomen {
  display: flex;


}

.CardWomen .img {
  width: 50%;
}

.CardWomen .img img {
  width: 100%;


}

.card2 {
  display: flex;
  flex-direction: row-reverse;

}

.lugarHorarioMujeres {
  background-color: #6e6858;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  font-family: 'Helvetica Neue', sans-serif;
  color: #ecf0f1;
}

.horarios-mujeres h3,
.lugar-mujeres h3 {
  text-align: center;
  color: #ecf0f1;
  margin-bottom: 20px;
  font-size: 1.8em;
  font-weight: 300;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.fila {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #6e6858;
}

.fila:nth-child(odd) {
  background-color: #6e6858;
}

.columna {
  flex: 1;
  text-align: center;
  color: #bdc3c7;
  padding: 10px;
}

.columna:first-child {
  text-align: left;
  padding-left: 20px;
}

.columna:last-child {
  text-align: right;
  padding-right: 20px;
}

.lugar-mujeres {
  text-align: center;
  margin-top: 40px;
}

.como-llegar {
  width: 120px;
  height: auto;
  margin: 20px auto;
  display: block;
  border-radius: 50%;
}

.boton-mujeres {
  margin-top: 20px;
}

.btn-mujeres {
  display: inline-block;
  padding: 12px 30px;
  background-color: #6B030A;
  color: #ecf0f1;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-mujeres:hover {
  background-color: #6b030a7b;
}

@media screen and (max-width: 768px) {
  .CardWomen {
    flex-direction: column;

  }

  .CardWomen .cardsInfo,
  .CardWomen .img {

    width: 100%;
  }

  .cardMujeres {
    margin-top: 20px;
  }

  .parallax-inner-Matrimonios h2 {
    margin: 120px 40px;
    font-size: 40px;
  }
}